[Desktop Entry]
Encoding=UTF-8
Version=0.21
Type=Application
Terminal=false
Exec=/opt/desktop-dungeons-win
Name=Desktop Dungeons
Icon=desktio-dungeons-win
